html{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  color: inherit;
}

body{
    background:rgb(217, 223, 223);
}


h1{
    font-family: 'Play', sans-serif;
    font-size: 80px;
    display: flex;
    justify-content: center;
}

#main-board{
    display: flex;
    justify-content: flex-start;
    background-image:linear-gradient(rgb(172, 222, 241),LightCyan);
}

#weatherbackdrop{
    position:absolute;
    visibility: hidden;
    z-index: 0;
    display: flex;
    background-image:linear-gradient(rgb(62, 64, 65),LightCyan);
}

#snow-canvas{
    position:absolute;
    z-index: 5;
    border: 1px solid black;
}

#weather-canvas{
    position:absolute;
    z-index: 3;
    border: 1px solid black;
}

#display-canvas{
    z-index: 4;
    border: 1px solid black;

}

#backdrop{
    position:absolute;
    z-index:1;
    background: no-repeat url("../assets/MountainsBackground.png");
    background-size: contain;
    background-position: bottom;
}


#canvas{
    background-color: rgb(92, 92, 92);
}








#fullboard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#controls{
    font-family: 'Play', sans-serif;
    display: flex;
    width: 240px;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    background: azure;

}

#display-canvas{
    border: 1px solid black;
}

#description{
    border: 1px solid black;
    width: 1200px;
    height: 180px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    background:azure;
}
#textdescription{
    width: 1200px;
    height: 180px;
    
    // border: 1px solid black;
}

#windloaded{
    justify-content: space-between;
}

#textdescription img{
    width: 239px;
    height: 179px;
    border-left: 1px solid black;
}
/* #photodescription{
    width: 200px;
    height: 180px;
    margin: 10px;
    border: 1px solid black;

} */

#outofrange{
    list-style-type: circle;
    display: none;
    font-family: 'Play', sans-serif;
    margin-left:10px;
}

#wayoutofrange{
    list-style-type: circle;
    display: none;
    font-family: 'Play', sans-serif;
    margin-left:10px;
}
#lowsnow{
    list-style-type: circle;
    display: none;
    font-family: 'Play', sans-serif;
    margin-left:10px;
}
#windloaded{
    display: none;
    font-family: 'Play', sans-serif;
    margin-left:10px;
}

#windloadedtext{
    vertical-align: middle;
}

#wet{
    display: none;
    font-family: 'Play', sans-serif;
    margin-left:10px;
}

#persistent{
    display: none;
    font-family: 'Play', sans-serif;
    margin-left:10px;
}

#precipitation{
    display: none;
    font-family: 'Play', sans-serif;
    margin-left:10px;

}

.slider:hover {
  opacity: 1;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  width: 195px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: grey;
  cursor: pointer;
}

img {
    border-left: 1px black
}

#mountainPicture{
    display: none;
}

#aboutlinks{
    width: 1200px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#controls p{
    margin-left: 10px;
}

#controls form{
    margin-left: 10px;
}

#controls .slider{
    margin-left: 10px;
}

button{
    font-family: 'Play', sans-serif;
}

#slopebubble{
    
}

#snowbubble{
    

}

#tempbubble{
   

}

#instructions{
    font-family: 'Play', sans-serif;
    background-color: azure;
    border: 1px solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 20px;
    padding: 8px;
}

#instructions:hover{
        transform: scaleX(1.1);
        cursor: pointer;
}

#myBtn:hover{
        cursor: pointer;
}
#aboutme{
    font-family: 'Play', sans-serif;
    background-color: azure;
    border: 1px solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 20px;
    padding: 8px;
}

#aboutme:hover{
        transform: scaleX(1.1);

}

#github{
    font-family: 'Play', sans-serif;
    background-color: azure;
    border: 1px solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 20px;
    padding: 8px;
}

#linkedin{
    font-family: 'Play', sans-serif;
    background-color: azure;
    border: 1px solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 20px;
    padding: 8px;
}

#github img{
    height: 30px;
    width: 30px;
}

#github:hover{
    transform: scaleX(1.1);
}

#linkedin img{
    height: 30px;
    width: 30px;
}

#linkedin:hover{
    transform: scaleX(1.1);
}







//modal
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  border: 1px solid black;
  font-size: 24px;
  font-family: 'Play', sans-serif;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid black;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#instructions button{
  border: none;
  color: black;
 background-color: azure; 
  text-align: center;
  font-size: 20px;
}
