html{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  color: inherit;
}

body{
    background-image:linear-gradient(Azure,LightCyan);
}


h1{
    font-family: 'Play', sans-serif;
    font-size: 80px;
    display: flex;
    justify-content: center;
}

#main-board{
    display: flex;
    justify-content: flex-start;
 
}

#snow-canvas{
    position:absolute;
    z-index: 2;
    border: 2px solid black;
}

#canvas{
    background-color: white;
}




#fullboard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#controls{
    font-family: 'Play', sans-serif;
    display: flex;
    width: 200px;
    justify-content: center;
    flex-direction: column;
    border: 1px solid black
}

#display-canvas{
    border: 1px solid black;
}

#description{
    border: 1px solid black;
    width: 1160px;
    height: 200px;
    display:flex;
    flex-direction: row;
    justify-content: center;
}
#textdescription{
    width: 1160px;
    height: 200px;
    border: 1px solid black;
}

#windloaded{
    justify-content: space-between;
}

#textdescription img{
    width: 199px;
    height: 199px;
    border: 1px solid black;
}
/* #photodescription{
    width: 200px;
    height: 180px;
    margin: 10px;
    border: 1px solid black;

} */

#outofrange{
    list-style-type: circle;
    display: none;
    font-family: 'Play', sans-serif;
}

#wayoutofrange{
    list-style-type: circle;
    display: none;
    font-family: 'Play', sans-serif;
}
#lowsnow{
    list-style-type: circle;
    display: none;
    font-family: 'Play', sans-serif;
}
#windloaded{
    display: none;
    font-family: 'Play', sans-serif;
}

#wet{
    display: none;
    font-family: 'Play', sans-serif;
}

#persistent{
    display: none;
    font-family: 'Play', sans-serif;
}

#precipitation{
    display: none;
        font-family: 'Play', sans-serif;

}

.slider:hover {
  opacity: 1;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  width: 195px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: grey;
  cursor: pointer;
}